img {
  width: 100%;
}

.contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hidden {
  display: none;
}

#root,
.App,
body,
html {
  height: 100%;
}

.red-bottom {
  border-bottom: 3px solid #660500;
}

h1 {
  font-size: 1.7rem;
}
