img {
  width: 100%;
}

.contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hidden {
  display: none;
}

.snap-item {
  scroll-snap-align: start;
}

.snap-container {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

#root,
.App,
body,
html {
  height: 100%;
}

.red-bottom {
  border-bottom: 3px solid #660500;
}
