.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a::before {
  content: '↘';
}

a::after {
  content: '↙';
}

a::before, a::after {
  position: relative;
  bottom: 6px;
  color: cornflowerblue;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}