.App {
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a::before {
  content: '↘';
}

a::after {
  content: '↙';
}

a::before, a::after {
  position: relative;
  bottom: 6px;
  color: cornflowerblue;
}