body::after {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #282c34;
  content: "";
  background: linear-gradient(311deg, #1a1b1b, #045283);
  background-size: 400% 400%;

  animation: scroll-background 13s ease infinite;
}

@keyframes scroll-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}

.p-2 {
  padding: 1rem;
}

.m-1 {
  margin: .3rem;
}

.m-2 {
  margin: 1rem;
}

.px-2 {
  padding: 0 1rem;
}

.mx-2 {
  margin: 0 1rem;
}

.flex-1 {
  flex: 1;
}
